<ion-view  hide-nav-bar="true" >
  <ion-content class=" pane-dark">

    <div class="item item-button-right" ng-repeat="location in locationsList track by $index">
      <h2>Lat={{location.lat}}</h2>
      <h2>long={{location.long}}</h2>
      <h2>name={{location.name}}</h2>


      <button class="button button-positive">
        <i class="icon ion-ios-telephone"></i>
      </button>
    </div>

    <label class="item item-input">
      <input type="text" ng-model="locationData.name">
    </label>
    <button class="button button-full button-positive" ng-click="loadLocation()" >
      Save Location.
    </button>
    <button class="button button-full button-positive" ng-click="resetData()" >
      Reset Locations.
    </button>

  </ion-content>

</ion-view>
