<ion-view  hide-nav-bar="true" >
  <ion-content class=" pane-dark">

    <div style="height:30px; display:block;"> </div>
    <label class="item item-input">
      <input type="text" ng-model="locationData.name">
    </label>
    <button class="button button-full button-positive" ng-click="loadLocation()" >
      Save Location.
    </button>
    <button class="button button-full button-positive" ng-click="resetData()" >
      Reset Locations.
    </button>







        <div ng-swipe-left="resetData()" class="item item-button-right" ng-repeat="location in locationsList track by $index">
          <h2>Lat={{location.lat}}</h2>
          <h2>long={{location.long}}</h2>
          <h2>name={{location.name}}</h2>
        </div>










  </ion-content>

</ion-view>
